@import "./comps/loader";
@import "./comps/card";
@import "./comps/button";

.logo-box {
}

.logo-icon {
  height: 4.5rem;
  width: 4.5rem;
  // fill: var(--color-grey-light-2);
}

.company-logo {
  max-width: 10rem;
  max-height: 100%;
}

.search-form {
  margin: 0 1rem;
}

.search-input {
  padding: 1rem 1.6rem;
  border-radius: var(--radius-sm);
  border: none;
  outline: none;
  background-color: var(--color-grey-light-3);
  font-family: inherit;

  font-size: inherit;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &--checkbox {
  }
}
